@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

*{
    font-family: 'Baloo 2', sans-serif; 
}

body{
    background: rgb(248,243,243);
    background: linear-gradient(0deg, rgba(248,243,243,1) 0%, rgba(255,118,116,1) 50%, rgba(248,239,239,1) 100%);
}
