h1 {
    background-color: aquamarine;
}

.home__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;

    &-logo {
        width: 30%;
        height: 30%;
        margin-right: 0.5rem;
    }
    @media (max-width: 480px) {
        &-logo {
            width: 50%;
            height: 30%;
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        &-logo {
            width: 60%;
            height: 30%;
        }
    }

    &-icons {
        display: flex;
        flex-direction: row;

        &-icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1.5rem;
            cursor: pointer;
        }
        @media (max-width: 480px) {
            &-icon {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            &-icon {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: 0.8rem;
            }
        }
    }
}

.home__stories {
    display: flex;
    flex-direction: row;

    .home__story {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &-figure {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-caption {
            font-weight: bold;
        }

        &-container {
            cursor: pointer;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            position: relative; /* Para posicionar el icono */
            width: 8.5rem;
            height: 8.5rem;
            border-radius: 50%;
            background: linear-gradient(to right, #ff7674 0%, #ff74b7 32%, #ff74fc 61%, #ffbc74 100%);

            &-image {
                width: 8rem;
                height: 8rem;
                object-fit: cover;
                border-radius: 50%;
                filter: grayscale(100%) brightness(50%);
                

                &-friends {
                    width: 8rem;
                    height: 8rem;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            @media (max-width: 480px) {
                &-image {
                    width: 3rem;
                    height: 3rem;
                    &-friends {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
            @media (min-width: 481px) and (max-width: 768px) {
                &-image {
                    width: 5rem;
                    height: 5rem;
                    &-friends {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }
}

.plus {
    position: absolute;
    color: white;
    font-size: 2rem;
}
