
h1{
    background-color: aquamarine;
}

.home__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(187, 122, 122);
    margin: 0;

&-icon{
    display: flex;
    flex-direction: row;

    &-2{
        width: 100%;
    }
}

}